* {
  background-color: #b6b6b6;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.loading {
  font-family: 'starjhol';
  text-align: center;
}

.loading h1 {
  margin: -50px;
}

.container_filters {
  background-color: white;
  border-radius: 10px;
  display: flex;
  margin: 0 20px 20px;
  padding: 5px;
}

.textDellButton {
  background-color: #ffe81f;
  border-radius: 8px;
  margin: 5px;
  padding: 2px 10px;
  text-align: center;
}

.dellButton {
  background-color: red;
  border-radius: 6px;
  color: white;
  font-size: 10px;
  padding: 4px 6px;
}

.dellButton:hover {
  background-color: rgb(255, 3, 3);
  border-radius: 6px;
  color: black;
  font-size: 10px;
  padding: 4px 6px;
}

th, td {
  border: 1px solid rgba(155, 155, 155, 0.349);
  font-size: 15px;
  padding: 5px 10px;
  text-align: center;
}

th {
  background-color: #757575;
  color: white;
  font-family: 'starjhol';
  line-height: 20px;
  padding: 15px;
}

td {
  background-color: white;
}

td:hover {
  background-color: #ffea31;
}
